In [1]:
# Nhập thu viện
import numpy as np
import pandas as pd

In [3]:
# đọc dữ liệu data
df = pd.read_excel('data/Data_Practice_ML.xlsx')

In [4]:
# tổng quát thông tin data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 961 entries, 0 to 960
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PatientID  961 non-null    object
 1   Sex        961 non-null    object
 2   Age        956 non-null    float64
 3   weight     961 non-null    int64
 4   Shape      930 non-null    object
 5   Margin     913 non-null    object
 6   Density    885 non-null    object
 7   Target     961 non-null    int64
dtypes: float64(1), int64(2), object(5)
memory usage: 60.2+ KB

In [5]:
# hiển thị 5 dòng đầu tiên
df.head()

  PatientID     Sex   Age  weight      Shape         Margin Density  Target
0        P1  Female  67.0      68    Lobular     Spiculated     Low       1
1        P2  Female  43.0      53      Round  Circumscribed     NaN       1
2        P3  Female  58.0      59  Irregular     Spiculated     Low       1
3        P4  Female  28.0      74      Round  Circumscribed     Low       0
4        P5  Female  74.0      68      Round     Spiculated     NaN       1

In [6]:
# hiển thị 5 dòng cuối
df.tail()

    PatientID     Sex   Age  weight      Shape         Margin Density  Target
956      P957  Female  47.0      45       Oval  Circumscribed     Low       0
957      P958  Female  56.0      52  Irregular     Spiculated     Low       1
958      P959  Female  64.0      67  Irregular     Spiculated     Low       0
959      P960  Female  66.0      69  Irregular     Spiculated     Low       1
960      P961  Female  62.0      50    Lobular       Obscured     Low       0

In [8]:
# hiển thị ngẫu nhiên
df.sample(5)

    PatientID     Sex   Age  weight      Shape         Margin Density  Target
767      P768  Female  53.0      60    Lobular       Obscured     Low       0
297      P298  Female  50.0      50  Irregular     Spiculated     Low       1
679      P680  Female  24.0      76       Oval  Circumscribed     Low       0
28        P29  Female  45.0      74  Irregular     Spiculated     Low       1
906      P907  Female  65.0      78       Oval  Circumscribed     Low       0

# step 2:

In [10]:
# bước 1: Quan sát các đặc trưng thống kê
df.describe()

              Age      weight      Target
count  956.000000  961.000000  961.000000
mean    56.306485   62.529657    0.463059
std     30.044212   10.265304    0.498893
min     18.000000   45.000000    0.000000
25%     45.000000   54.000000    0.000000
50%     57.000000   63.000000    0.000000
75%     66.000000   71.000000    1.000000
max    870.000000   80.000000    1.000000

***Nhận xét***
* Càng lớn tuổi thì nguy cơ mắc bệnh càng cao
*

In [12]:
# quan sát các thuộc tính object
df.describe(include='O')

       PatientID     Sex      Shape         Margin Density
count        961     961        930            913     885
unique       961       2          5              6       5
top           P1  Female  Irregular  Circumscribed     Low
freq           1     960        399            357     797

In [ ]:
kq = df['Gender']